JWT_SECRET='django-insecure-dev-key-change-me-in-production-1234567890'
DJANGO_SECRET_KEY='django_secret_key'
DB_NAME='myproject_db'
DB_USER='myproject_user'
DB_PASSWORD='my_password'
ADMIN_EMAIL='admin@example.com'
ADMIN_PASSWORD='admin123'